#root {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 2em;
}

.log-wrap {
  width: 100%;
  padding-top: 2em;
}
.log {
  height: 200px;
  max-width: 500px;
  overflow: scroll;
  background: rgb(222, 222, 222);
  text-align: start;
  padding: 10px;
  margin: 0 auto;
}
.log .lock {
  color: green;
}
.log .release {
  color: blue;
}
.log .error {
  color: red;
}


.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  box-sizing: border-box;
  flex: 1;
}
.stateError {
  background-color: rgb(255, 213, 213);
}
.statePending {
  background-color: rgb(254, 211, 136);
}
.stateSuccess {
  background-color: rgb(237, 255, 237);
}
